# Lead-form delivery (server/api/hire.post.ts)
# Callback URL of the Azure Logic App "LA-AdambottyLead" (rg-maxAgenticAutomations),
# which DMs the lead to sales on Microsoft Teams. Retrieve with:
#   az rest --method POST --uri "https://management.azure.com/subscriptions/b4970f3f-6196-4ab2-95e2-4ae24b805d53/resourceGroups/rg-maxAgenticAutomations/providers/Microsoft.Logic/workflows/LA-AdambottyLead/triggers/manual/listCallbackUrl?api-version=2019-05-01" --query value -o tsv
# In production this is set as an SWA application setting.
NUXT_HIRE_WEBHOOK_URL=https://prod-XX.germanywestcentral.logic.azure.com:443/workflows/.../triggers/manual/paths/invoke?...
